#jinja2: trim_blocks:True, lstrip_blocks:True
version: '3.3'

services:
  iota_core:
    image: {{iota_core_docker_image_repo}}:{{iota_core_docker_image_tag}}
    container_name: iota-core
    volumes:
      - ./snapshot.bin:/app/data/snapshot.bin:ro
      - ./config.json:/app/config.json:ro
      - ./data:/app/data/
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "0.0.0.0:14666:14666/tcp"
      - "0.0.0.0:8080:8080/tcp"
      - "0.0.0.0:8081:8081/tcp"
      - "0.0.0.0:6061:6061/tcp"
      # prometheus
      - "0.0.0.0:9311:9311/tcp"
    environment:
      - P2P_BINDMULTIADDRESSES=/ip4/0.0.0.0/tcp/14666
      - WEBAPI_BINDADDRESS=0.0.0.0:8080
      - DASHBOARD_BINDADDRESS=0.0.0.0:8081
      - PROFILING_BINDADDRESS=0.0.0.0:6061
    command: >
      -c config.json
      --logger.level=debug
      --logger.disableCaller=false
      --logger.disableStacktrace=false
      --logger.encoding=console
      --logger.outputPaths=stdout
      --database.path=/app/data/database
      --p2p.db.path=/app/data/peerdb
      --profiling.bindAddress=0.0.0.0:6061
      --profiling.enabled=true
      --protocol.snapshot.path=/app/data/snapshot.bin
      --restAPI.allowIncompleteBlock=true
      {% if 'node-01' in inventory_hostname or 'node-02' in inventory_hostname or 'node-03' in inventory_hostname %}
      --validator.enabled=true
      --validator.account={{validatorAccount}}
      --validator.privateKey={{validatorPrivKey}}
      {% endif %}
      {% if 'node-01' in inventory_hostname %}
      --validator.ignoreBootstrapped=true
      {% endif %}
      --restAPI.allowIncompleteBlock=true
      --restAPI.blockIssuerAccount={{validatorAccount}}
      --restAPI.blockIssuerPrivateKey={{validatorPrivKey}}
      --inx.blockIssuerAccount={{validatorAccount}}
      --inx.blockIssuerPrivateKey={{validatorPrivKey}}
      --p2p.peers=/dns/node-01.feature/tcp/14666/p2p/12D3KooWPZt81CSFZLswrV6y6GogLTqUHDAcNxWtov1sSMQiHmSn
      --p2p.identityPrivateKey={{p2pIdentityPrivateKey}}
      --inx.enabled=true
      --inx.bindAddress=iota-core:9029

  inx-indexer:
    container_name: inx-indexer
    image: iotaledger/inx-indexer:2.0-alpha
    stop_grace_period: 5m
    volumes:
      - ./data:/app/database
    command:
      - "--inx.address=iota-core:9029"
      - "--indexer.db.sqlite.path=database/indexer"
      - "--restAPI.bindAddress=inx-indexer:9091"